header {
    background-color: #000000;
    color: white;
    text-align: center;
    border-bottom: 4px solid #238faf;
    padding: 1em;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    border: 3px solid #238faf;
    border-radius: 8px;
    padding: 4px;
    transition: 0.2s;
}

a:hover {
    scale: 110%;
    background-image: url('https://media.tenor.com/OJK9HzEzRO8AAAAM/dancing.gif');
    background-size: 50px;
}